
/**
 * Bootstrap Fonts
 */

/*@font-face {*/
  /*font-family: 'Glyphicons Halflings';*/
  /*src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot');*/
  /*src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),*/
  /*url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'),*/
  /*url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),*/
  /*url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');*/
/*}*/


/**
 * App-wide Styles
 */

.alert {
  border: 2px solid red;
  border-radius: 4px;
  font-weight: bold;
  padding: 1em;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1em;
}

body {
  /* jQuery's offset() is confused when the position is set to relative (by
   * angular-material) */
  position: static;
}

.lf-form-table .lf-form-table-row.section-header.level1 {
  background-color: rgb(67,115,156);
  color: white;
}

.lf-form-body .lf-form-table-row.level1.target-show td {
  color: #E8F2FC;
}

md-dialog-content {
  padding: 1em;
}

/* CSS adjustments for PHR */
.lf-form .button-row .lf-float-button {
  margin-bottom: 1em;
}

#themeList {
  margin-left: 1em;
  display: inline-block;
}
#themeList > input {
  width: 5.5em;
  margin-left: 0.5em;
  border: 1px solid #ced5d9;
  border-radius: 4px;
}

/* loading msg */
.loading {
  background-color: #458ac5;
  color: white;
  font-size: 24px;
  height: 60%;
  width: 70%;
  margin: 50px auto 50px auto;
  text-align: center;
  vertical-align: middle;
  padding: 25px;
}

/* Styles for the header */
body {
  margin: 0;
}
#header {
  position: relative;
  font-size: 12px;
  font-family: 'Droid Sans',Arial,Helvetica,sans-serif;
  color: #202020;
  border-top: 2px solid #0BACB6;
  border-bottom: 7px solid #17b4e3;
  line-height: normal;
  padding-bottom: 22px;
}
#logo {
  position: relative;
  top: 5px;
  font-size: 18px;
  display: block;
  margin-bottom: 5px;
}
#header a {
  color: #1E4193;
  text-decoration: none;
}
#logo img {
  float: left;
  margin-right: 10px;
  margin-left: 20px;
  border-right: 1px solid #0BACB6;
  padding-right: 0.75em;
}
#logo, #log img {
  display: block;
}
#logo .site-name-slogan {
  font-size: 14px;
  position: relative;
  top: 10px;
  left: -2px;
}
#logo .site-name-slogan span {
  display: block;
  font-size: 24px;
  position: relative;
  left: -2px;
}
#logo .site-name-slogan .slogan {
  color: #202020;
  font-size: 12px;
  position: relative;
  left: 1px;
}
#siteNameBox {
  margin-top: 2.2em;
}
#siteName {
  font-size: 300%;
}
/* End of styles for the header */
/* Styles for the footer */
#fine-print {
  border-top: 2px solid #0BACB6;
  clear: left;
  text-align: center;
  font-size: 12px;
  padding-top: 10px;
}
ul.horz-list li {
  list-style-type: none;
  display: inline;
  padding-left: 8px;
  padding-right: 10px;
  border-right: 1px solid #999;
}
ul.horz-list li.last-item {
  border-right: none;
}
#usagov {
  vertical-align: bottom;
}
/* Add some space above the footer.  For some reason adding a margin-top
   does not work, perhaps because of a float, so instead we add padding to the
   floated element.
 */
.col-md-9 {
  padding-bottom: 1em;
}

/* End of styles for the footer */
