/* Styles for the dialogs */
#resSelectDialog input {
  width: 100%;
}

#serverSelectDialog input {
  width: 100%;
}

#messageBody { /* in #dataDialog */
  height: calc(100vh - 200px);
  overflow: auto;
}

#dataDialog .modal-dialog {
  width: 80%;
}
