/* Styles for the dialogs */
#resSelectDialog input {
  width: 100%;
}

#serverSelectDialog input {
  width: 100%;
}

#messageBody, #saveResultsBody { /* in #dataDialog, #saveResultsDialog */
  max-height: calc(100vh - 200px);
  overflow: auto;
}

#dataDialog .modal-dialog, #saveResultsDialog .modal-dialog {
  width: 70%;
}

