<md-dialog flex="50" ng-controller="FhirAppContentCtrl">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 ng-bind-html="fhirResourceTitle"></h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div>
        <pre id="message-body" ng-bind-html="fhirResourceString"></pre>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button aria-label="Copy to clipboard" ng-click="copyToClipboard('message-body')" class="md-primary">
        Copy to Clipboard
      </md-button>
      <md-button id="close-res-dialog" aria-label="Close dialog" ng-click="closeDialog()" class="md-primary">
        Close
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
