<md-dialog flex="45">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 ng-bind-html="dialogTitle"></h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div>
        <p>{{dialogLabel}}</p>

        <div layout="column" ng-cloak>
          <md-content layout-padding layout="column">
            <form>
              <md-autocomplete
                  md-no-cache="false"
                  md-selected-item="selectedPatientInDialog"
                  md-search-text="patientSearchText"
                  md-items="item in searchPatientByName(patientSearchText)"
                  md-item-text="item.name"
                  md-min-length="1"
                  placeholder="{{dialogHint}}"
                  md-menu-class="autocomplete-custom-template"
                  class="lf-patient-search">
                <md-item-template>
                  <span class="item-title">
                    <span class="glyphicon glyphicon-user"></span>
                    <span class="item-property">
                      <strong> {{item.name}} </strong>
                    </span>
                  </span>
                  <span class="item-metadata">
                    <span class="item-property">
                      Gender: <strong>{{item.gender}}</strong>
                    </span>
                    <span class="item-property">
                      DoB: <strong>{{item.dob}}</strong>
                    </span>
                    <span class="item-property">
                      Phone: <strong>{{item.phone}}</strong>
                    </span>
                  </span>
                </md-item-template>
                <md-not-found>
                  No patients found.
                </md-not-found>
              </md-autocomplete>
            </form>
          </md-content>
        </div>

      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" class="lost-data-warning" ng-if="differentPatient(selectedPatient, selectedPatientInDialog)">
      <span >* Unsaved data in the form will be lost if you choose a difference patient.</span>
      <span flex></span>
    </md-dialog-actions>

    <md-dialog-actions layout="row">
      <md-button id="btnOK" ng-if="selectedPatientInDialog" aria-label="OK" ng-click="confirmAndCloseDialog()" class="md-primary">
        OK
      </md-button>
      <md-button id="btnCancel" aria-label="Cancel" ng-click="closeDialog()" class="md-primary">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
