<div class="panel">
  <div class="panel-body">
    <input type="file" id="loadFileInput" accept="application/json" class="hide" />

    <div class="btn-group btn-group-justified" role="group">
      <a id="upload" role="button" type="button"
       class="btn btn-default btn-sm btn-success"
       title="Upload a file."><span class="glyphicon glyphicon-upload"></span><span
       class="lf-nav-button">Upload</span></a></div>
    <p>If you do not have a Questionnaire of your own to upload, you can try
     downloading one of our <a href=
     "https://raw.githubusercontent.com/lhncbc/lforms-fhir-app/master/e2e-tests/data/R4/weight-height-questionnaire.json"
     target="_blank" rel="noopener noreferrer" id=sampleQ>samples</a> (saving
     it to file, and then uploading it here).</p>
  </div>
</div>

<div class="panel-group" id="listAccordion" role="tablist" aria-multiselectable="true">

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading-one">
      <div class="panel-title">
        <a id="toggleQRList" role="button" class="collapsed" data-toggle="collapse"
         data-target="#collapse-one" data-parent="#listAccordion" aria-expanded="false"
         aria-controls="collapse-one">
          Saved QuestionnaireResponses
        </a>
      </div>
    </div>
    <div class="panel-collapse collapse" id="collapse-one" role="tabpanel"
         aria-labelledby="heading-one">
      <div id="savedQRListMsg"></div>
      <div id="qrList" class="list-group">
        <div id="qrListItems">
          <a href="javascript:void(0)" class="list-group-item" style="display: none" role="presentation">
            <p class="form-name"></p>
            <p class="last-updated"></p>
          </a>
        </div>
        <div class="btn-group btn-group-justified" role="group">
          <a id="qrPrevPage" role="button" type="button" disabled
           class="btn btn-default btn-sm glyphicon glyphicon-chevron-left"></a>
          <a id="qrNextPage" role="button" type="button" disabled
           class="btn btn-default btn-sm glyphicon glyphicon-chevron-right"></a>
        </div>
      </div>
    </div>
  </div>

  <div id="featuredQs" class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading-two">
      <div class="panel-title">
        <a id="toggleFeaturedList" role="button" class="collapsed" data-toggle="collapse"
         data-target="#collapse-two"
         data-parent="#listAccordion" aria-expanded="false" aria-controls="collapse-two">
          Featured Questionnaires:
        </a>
      </div>
    </div>
    <div class="panel-collapse collapse" id="collapse-two" role="tabpanel"
         aria-labelledby="heading-two">
      <div id="fqList" class="list-group">
        <a href="javascript:void(0)" class="list-group-item" role="presentation" ng-click="showFeaturedQ($index, p)">
          <p class="form-name">{{p.name}} <span ng-if="p.code">[{{p.code}}]</span></p>
        </a>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading-three">
      <div class="panel-title">
          <a role="button" class="collapsed" data-toggle="collapse" data-target="#collapse-three"
             data-parent="#listAccordion" aria-expanded="false" aria-controls="collapse-three">
          Available Questionnaires:
          </a>
        <span class=showDate><label><input type=checkbox ng-model=showQDate> Show Date</input></label></span>
      </div>
    </div>
    <div class="panel-collapse collapse" id="collapse-three" role="tabpanel"
         aria-labelledby="heading-three">
      <div ng-if="listSavedQError">Unable to retrieve saved Questionnaires.</div>
      <div ng-if="!listSavedQError && !listSavedQ">Loading Questionnaires from server...</div>
      <div ng-if="!listSavedQError && listSavedQ && listSavedQ.length==0">No saved
        Questionnaire resources were found.  Try uploading one.</div>
      <div ng-if="listSavedQ && listSavedQ.length>0"  id="qList" class="list-group">
        <div class="btn-group btn-group-justified" role="group">
          <a id="search" role="button" type="button" class="btn btn-default btn-sm btn-success " ng-click="showQuestionnairePicker($event)" title="Choose a Questionnaire from the FHIR server."><span class="glyphicon glyphicon-search"></span><span class="lf-nav-button">Search</span></a>
        </div>
        <a href="#" class="list-group-item {{isSelected(2, $index)}}" ng-repeat="p in listSavedQ" role="presentation" id="{{p.resId}}" ng-click="showSavedQuestionnaire($index, p)">
          <p class="form-name">{{p.resName}}</p>
          <p class="last-updated" ng-if="showQDate">{{p.updatedAt}}</p>
        </a>
        <div class="btn-group btn-group-justified" role="group">
          <a id=prevQPage role="button" type="button" class="btn btn-default btn-sm glyphicon glyphicon-chevron-left"
           ng-disabled="!hasPagingLink('Questionnaire','previous')" ng-click="getPage('Questionnaire', 'previous')"></a>
          <a id=nextQPage role="button" type="button" class="btn btn-default btn-sm glyphicon glyphicon-chevron-right"
           ng-disabled="!hasPagingLink('Questionnaire','next')" ng-click="getPage('Questionnaire', 'next')"></a>
        </div>
        <div style="display: none" ng-if="formSelected.groupIndex" id="deleteQBtn" class="btn-group btn-group-justified" role="group">
          <a role="button" type="button" class="btn btn-default btn-sm
           btn-danger" ng-click="deleteQuestionnaire($event)" title="Deletes
           a Questionnaire and associated QuestionnaireResponses and
           Observations"><span class="glyphicon glyphicon-warning-sign"></span><span
           class="lf-nav-button">Delete Questionnaire and Its Responses</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
