<md-dialog flex="50" ng-controller="FhirAppContentCtrl">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>HL7 OBR & OBX Segments</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div >
        <p>Please note that this is still a work in progress, and the code system
        values might be incorrect in some places.</p>
        <pre id="message-body" ng-bind-html="hl7String"></pre>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">

      <md-button aria-label="Copy to clipboard" ng-click="copyToClipboard('message-body')" class="md-primary">
        Copy to Clipboard
      </md-button>
      <md-button aria-label="Close dialog" ng-click="closeDialog()" class="md-primary">
        Close
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
